In [113]:
import numpy as np
import pandas as pd

In [114]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [115]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [116]:
credits.head(1)
# credits.head(1)['cast'].values #For 1st movies ,cast and values in form of array.Can Do for cast also

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [117]:
movies.shape

(4803, 20)

In [118]:
credits.shape

(4803, 4)

In [119]:
#Merge both dataframes based on titles

movies = movies.merge(credits,on='title') #Reassigning merged data as movies
# movies.merge(credits,on='title').shape #gives us rows and cols

In [120]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [121]:
movies.info()

# Remove Columns form 23 columns which does not help in analysis
# Remove -> Budget , homepage , original_language[4510 is english movies] , Popularity , production_companies , original_title , release_date , revenue , runtime , spoken_language, tagline ,status ,vote_count,vote_average,movie_id  
# Important Columns - > genres,id,keywords , title , overview , cast , crew

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [122]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [123]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [124]:
# Make a dataframe consisting [movie_id|title|tags]
# Tags consists of columns-> Overview,Genres,keywords,cast[top 3],crew[only director]


movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [125]:
#Drop NAN Valued rows
#inplace=True → Makes the change directly in the original movies
movies.dropna(inplace=True)

In [126]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [127]:
#Check for duplicated data
movies.duplicated().sum()

0

In [128]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [129]:
#It is in the form of list of dictionary,we need to convert it into ['Sci-Fi','Action','Fantasy'] format
#Create a helper function
import ast

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [130]:
movies['genres'] = movies['genres'].apply(convert)

In [131]:
#Same like genres do for other columns

movies['keywords'] = movies['keywords'].apply(convert)

In [132]:
#Only need top 3 cast
def convertTopThree(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3 :
            L.append(i['name'])
            counter += 1
        else:
            break;
    return L

movies['cast'] = movies['cast'].apply(convertTopThree)

In [133]:

#{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}
#need to extract name from dictionary where job:"director"

def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

movies['crew'] = movies['crew'].apply(fetch_director)

In [134]:
#Overview is a string convert it to a list

movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [135]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [136]:
# 'Sam Mendes'->'SamMendes' remove all spaces so apply transformation

movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(" ","") for i in x])

In [137]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [138]:
#tags column by concatinating all other column

movies['tags'] = movies['overview'] + movies['genres'] + movies['cast'] + movies['crew'] 
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [139]:
# Create new dataframe ,keep just 3 columns id,title,tags

new_df = movies[['movie_id','title','tags']]

In [140]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [141]:
new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x)) #Convert the list in tags to string format

C:\Users\rashm\AppData\Local\Temp\ipykernel_13448\2760934455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x)) #Convert the list in tags to string format

In [142]:
new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

C:\Users\rashm\AppData\Local\Temp\ipykernel_13448\3679624391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

In [143]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [144]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction samworthington zoesaldana sigourneyweaver jamescameron'

In [145]:
#Stemming -> if values are ['activity','activities'] it will be converted to ['activity','activity']

import nltk

from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [146]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)


new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\rashm\AppData\Local\Temp\ipykernel_13448\2487887876.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [147]:
#Vectorization
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000 , stop_words = 'english')

In [148]:
#By default values are sparse so convert to numpy matrix

vectors = cv.fit_transform(new_df['tags']).toarray()

In [149]:
cv.fit_transform(new_df['tags']).toarray().shape

(4806, 5000)

In [150]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [151]:
cv.get_feature_names_out()
# len(cv.get_feature_names_out())

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [152]:
#Calculate the distance between the vectors[more distance less similiarity]
#Use cosine distance - angle between the vectors [less angle more similiarity] Euclidean distance is not good measure in highier dimension [here 5000 vectors]

from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectors)

array([[1.        , 0.13957263, 0.08206099, ..., 0.        , 0.        ,
        0.        ],
       [0.13957263, 1.        , 0.08399211, ..., 0.03253   , 0.        ,
        0.03539962],
       [0.08206099, 0.08399211, 1.        , ..., 0.02868877, 0.        ,
        0.        ],
       ...,
       [0.        , 0.03253   , 0.02868877, ..., 1.        , 0.04444444,
        0.02418254],
       [0.        , 0.        , 0.        , ..., 0.04444444, 1.        ,
        0.09673017],
       [0.        , 0.03539962, 0.        , ..., 0.02418254, 0.09673017,
        1.        ]])

In [153]:
similarity = cosine_similarity(vectors)
#Total distance calculated is 4806 movies X 4806[each movie with 4806 vectors]

In [154]:
similarity[0]  #[Diagonal is always 1]

array([1.        , 0.13957263, 0.08206099, ..., 0.        , 0.        ,
       0.        ])

In [155]:
#Once we perform sorting we cannot find which movie distance is calculated with the movie given,hence we use enumeration which will return list of tuples
list(enumerate(similarity[0]))

[(0, 0.9999999999999996),
 (1, 0.13957263155977062),
 (2, 0.08206099398622181),
 (3, 0.10744306187005068),
 (4, 0.14213381090374028),
 (5, 0.13834289277321493),
 (6, 0.060914490387317256),
 (7, 0.17766726362967533),
 (8, 0.08362420100070908),
 (9, 0.14019992744655632),
 (10, 0.14019992744655632),
 (11, 0.12712834523274563),
 (12, 0.14673479641335552),
 (13, 0.06659271582120269),
 (14, 0.18844459036110223),
 (15, 0.09869275424396534),
 (16, 0.11677484162422842),
 (17, 0.12309149097933274),
 (18, 0.05060453993692574),
 (19, 0.1011299793694863),
 (20, 0.07784989441615228),
 (21, 0.0753778361444409),
 (22, 0.09782319760890368),
 (23, 0.1333662673423161),
 (24, 0.07918075824648957),
 (25, 0.025482359571881275),
 (26, 0.15569978883230456),
 (27, 0.16796775328675623),
 (28, 0.15075567228888181),
 (29, 0.0895622151039798),
 (30, 0.09988907373180403),
 (31, 0.21320071635561041),
 (32, 0.062197041357112286),
 (33, 0.15512630699850571),
 (34, 0.0),
 (35, 0.1599005372667078),
 (36, 0.18556740475630137),
 (37, 0.08362420100070908),
 (38, 0.10660035817780521),
 (39, 0.10969086361906957),
 (40, 0.11306675421666133),
 (41, 0.1348399724926484),
 (42, 0.0),
 (43, 0.14019992744655632),
 (44, 0.053300179088902604),
 (45, 0.10919021808652281),
 (46, 0.17056057308448835),
 (47, 0.13997312773896353),
 (48, 0.08547043234472845),
 (49, 0.0),
 (50, 0.11306675421666133),
 (51, 0.08189266356489211),
 (52, 0.11306675421666133),
 (53, 0.06356417261637282),
 (54, 0.06154574548966637),
 (55, 0.07933288280219176),
 (56, 0.14301938838683884),
 (57, 0.0),
 (58, 0.09137173558097589),
 (59, 0.10120907987385148),
 (60, 0.0),
 (61, 0.23262105259961768),
 (62, 0.12856486930664499),
 (63, 0.07106690545187014),
 (64, 0.04891159880445184),
 (65, 0.030151134457776358),
 (66, 0.03289758474798845),
 (67, 0.10969086361906957),
 (68, 0.18609684207969415),
 (69, 0.018698939800169144),
 (70, 0.10514994558491723),
 (71, 0.09534625892455922),
 (72, 0.21320071635561044),
 (73, 0.05913123959890826),
 (74, 0.13655774839978377),
 (75, 0.11877113736973435),
 (76, 0.11134044285378082),
 (77, 0.0),
 (78, 0.0909090909090909),
 (79, 0.0878561118986134),
 (80, 0.07336739820667776),
 (81, 0.07537783614444091),
 (82, 0.08528028654224418),
 (83, 0.14506471329641485),
 (84, 0.12060453783110543),
 (85, 0.09143006417649886),
 (86, 0.06827887419989188),
 (87, 0.11877113736973435),
 (88, 0.10341753799900381),
 (89, 0.03876376661011099),
 (90, 0.09304842103984708),
 (91, 0.18281810603178264),
 (92, 0.07207499701564471),
 (93, 0.1037571695799112),
 (94, 0.21320071635561041),
 (95, 0.12792042981336627),
 (96, 0.11134044285378082),
 (97, 0.09753841331435326),
 (98, 0.14673479641335552),
 (99, 0.036037498507822355),
 (100, 0.05170876899950191),
 (101, 0.11487593716012254),
 (102, 0.1364877726081535),
 (103, 0.09534625892455922),
 (104, 0.09304842103984708),
 (105, 0.10660035817780521),
 (106, 0.1011299793694863),
 (107, 0.09430419201928972),
 (108, 0.11306675421666133),
 (109, 0.10341753799900381),
 (110, 0.03553345272593507),
 (111, 0.15569978883230456),
 (112, 0.07422696190252055),
 (113, 0.0650256088762355),
 (114, 0.07009996372327816),
 (115, 0.06659271582120269),
 (116, 0.06827887419989188),
 (117, 0.09534625892455922),
 (118, 0.053300179088902604),
 (119, 0.036037498507822355),
 (120, 0.0),
 (121, 0.15569978883230456),
 (122, 0.18609684207969415),
 (123, 0.12792042981336627),
 (124, 0.06659271582120269),
 (125, 0.07106690545187014),
 (126, 0.1462544848254261),
 (127, 0.1823262913747181),
 (128, 0.0),
 (129, 0.09231861823449955),
 (130, 0.03768891807222045),
 (131, 0.13834289277321493),
 (132, 0.060914490387317256),
 (133, 0.04351941398892446),
 (134, 0.1599005372667078),
 (135, 0.0),
 (136, 0.03413943709994594),
 (137, 0.020056236303005483),
 (138, 0.21759706994462227),
 (139, 0.1706971854997297),
 (140, 0.060914490387317256),
 (141, 0.04767312946227961),
 (142, 0.08058229640253801),
 (143, 0.12060453783110543),
 (144, 0.09304842103984708),
 (145, 0.027756369082668448),
 (146, 0.0),
 (147, 0.0753778361444409),
 (148, 0.1333662673423161),
 (149, 0.15386436372416593),
 (150, 0.15289415743128765),
 (151, 0.17739371879672478),
 (152, 0.1254363015010636),
 (153, 0.08257228238447703),
 (154, 0.08703882797784893),
 (155, 0.028490144114909487),
 (156, 0.0674199862463242),
 (157, 0.10050378152592121),
 (158, 0.12712834523274563),
 (159, 0.10341753799900381),
 (160, 0.1222789970111296),
 (161, 0.0674199862463242),
 (162, 0.04545454545454545),
 (163, 0.07312724241271305),
 (164, 0.10660035817780521),
 (165, 0.09534625892455922),
 (166, 0.1507556722888818),
 (167, 0.12087344460380703),
 (168, 0.17766726362967533),
 (169, 0.09753841331435326),
 (170, 0.1257389226923863),
 (171, 0.0298540717013266),
 (172, 0.20100756305184242),
 (173, 0.0),
 (174, 0.15836151649297914),
 (175, 0.10969086361906957),
 (176, 0.05504818825631802),
 (177, 0.0),
 (178, 0.03553345272593507),
 (179, 0.050251890762960605),
 (180, 0.036037498507822355),
 (181, 0.07784989441615228),
 (182, 0.130051217752471),
 (183, 0.08869685939836239),
 (184, 0.10660035817780521),
 (185, 0.0753778361444409),
 (186, 0.06286946134619315),
 (187, 0.18018749253911176),
 (188, 0.02874797872880345),
 (189, 0.11009637651263604),
 (190, 0.05857074126574227),
 (191, 0.07918075824648957),
 (192, 0.07106690545187014),
 (193, 0.0832250378576479),
 (194, 0.0),
 (195, 0.08058229640253801),
 (196, 0.08528028654224418),
 (197, 0.05133270023393453),
 (198, 0.08528028654224418),
 (199, 0.14019992744655632),
 (200, 0.17739371879672478),
 (201, 0.0),
 (202, 0.04264014327112209),
 (203, 0.12309149097933272),
 (204, 0.07422696190252055),
 (205, 0.09782319760890368),
 (206, 0.13121597027036946),
 (207, 0.11677484162422842),
 (208, 0.17739371879672478),
 (209, 0.09782319760890368),
 (210, 0.07312724241271305),
 (211, 0.03413943709994594),
 (212, 0.09753841331435326),
 (213, 0.09869275424396534),
 (214, 0.0),
 (215, 0.11306675421666133),
 (216, 0.11009637651263604),
 (217, 0.12060453783110543),
 (218, 0.05504818825631802),
 (219, 0.12309149097933272),
 (220, 0.08528028654224418),
 (221, 0.0674199862463242),
 (222, 0.07872958216222169),
 (223, 0.07106690545187014),
 (224, 0.0574959574576069),
 (225, 0.0674199862463242),
 (226, 0.0),
 (227, 0.08206099398622181),
 (228, 0.12712834523274563),
 (229, 0.11993477322022918),
 (230, 0.13121597027036946),
 (231, 0.0),
 (232, 0.1778216897897548),
 (233, 0.1599005372667078),
 (234, 0.13318543164240537),
 (235, 0.10969086361906957),
 (236, 0.1254363015010636),
 (237, 0.0909090909090909),
 (238, 0.11102547633067379),
 (239, 0.05133270023393453),
 (240, 0.08206099398622181),
 (241, 0.11306675421666133),
 (242, 0.12087344460380703),
 (243, 0.10660035817780521),
 (244, 0.09782319760890368),
 (245, 0.08703882797784893),
 (246, 0.0574959574576069),
 (247, 0.0),
 (248, 0.06917144638660747),
 (249, 0.10341753799900381),
 (250, 0.0),
 (251, 0.0),
 (252, 0.031098520678556143),
 (253, 0.058025885318565944),
 (254, 0.07422696190252055),
 (255, 0.0),
 (256, 0.1709408646894569),
 (257, 0.08206099398622181),
 (258, 0.024784079854830485),
 (259, 0.09782319760890368),
 (260, 0.14673479641335552),
 (261, 0.04264014327112209),
 (262, 0.17292861596651865),
 (263, 0.13957263155977062),
 (264, 0.0),
 (265, 0.04181210050035454),
 (266, 0.08528028654224418),
 (267, 0.09534625892455922),
 (268, 0.07784989441615228),
 (269, 0.0),
 (270, 0.10660035817780521),
 (271, 0.10660035817780521),
 (272, 0.0),
 (273, 0.031098520678556143),
 (274, 0.0708214231796511),
 (275, 0.1818181818181818),
 (276, 0.09782319760890368),
 (277, 0.07756315349925286),
 (278, 0.10969086361906957),
 (279, 0.1011299793694863),
 (280, 0.0),
 (281, 0.0657951694959769),
 (282, 0.0650256088762355),
 (283, 0.03892494720807614),
 (284, 0.0),
 (285, 0.026650089544451302),
 (286, 0.11941628680530642),
 (287, 0.0),
 (288, 0.0),
 (289, 0.05133270023393453),
 (290, 0.09304842103984708),
 (291, 0.07207499701564471),
 (292, 0.12792042981336627),
 (293, 0.04351941398892446),
 (294, 0.11877113736973435),
 (295, 0.039590379123244784),
 (296, 0.06659271582120269),
 (297, 0.03504998186163908),
 (298, 0.0),
 (299, 0.09231861823449955),
 (300, 0.15569978883230456),
 (301, 0.0799502686333539),
 (302, 0.09988907373180403),
 (303, 0.03892494720807614),
 (304, 0.06963106238227913),
 (305, 0.10811249552346706),
 (306, 0.07784989441615228),
 (307, 0.10555008273018728),
 (308, 0.050251890762960605),
 (309, 0.09534625892455922),
 (310, 0.049236596391733084),
 (311, 0.1531679162134967),
 (312, 0.1315903389919538),
 (313, 0.037113480951260276),
 (314, 0.0),
 (315, 0.11487593716012254),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.13957263155977062),
 (320, 0.044455422447438706),
 (321, 0.0),
 (322, 0.19069251784911845),
 (323, 0.0),
 (324, 0.03289758474798845),
 (325, 0.08528028654224418),
 (326, 0.04181210050035454),
 (327, 0.04029114820126901),
 (328, 0.03892494720807614),
 (329, 0.13055824196677338),
 (330, 0.14673479641335552),
 (331, 0.12182898077463451),
 (332, 0.11487593716012254),
 (333, 0.03892494720807614),
 (334, 0.1037571695799112),
 (335, 0.0674199862463242),
 (336, 0.09534625892455922),
 (337, 0.03329635791060134),
 (338, 0.0),
 (339, 0.07009996372327816),
 (340, 0.07312724241271305),
 (341, 0.11877113736973435),
 (342, 0.15075567228888181),
 (343, 0.027076518053694116),
 (344, 0.03829197905337418),
 (345, 0.030457245193658628),
 (346, 0.0),
 (347, 0.0),
 (348, 0.044455422447438706),
 (349, 0.1333662673423161),
 (350, 0.0657951694959769),
 (351, 0.0),
 (352, 0.04181210050035454),
 (353, 0.05698028822981897),
 (354, 0.037113480951260276),
 (355, 0.0574959574576069),
 (356, 0.09304842103984708),
 (357, 0.0),
 (358, 0.0909090909090909),
 (359, 0.044455422447438706),
 (360, 0.03329635791060134),
 (361, 0.07422696190252055),
 (362, 0.08703882797784893),
 (363, 0.09045340337332908),
 (364, 0.03178208630818641),
 (365, 0.07784989441615228),
 (366, 0.07422696190252055),
 (367, 0.0),
 (368, 0.0909090909090909),
 (369, 0.1484539238050411),
 (370, 0.07784989441615228),
 (371, 0.09753841331435326),
 (372, 0.0674199862463242),
 (373, 0.11396057645963795),
 (374, 0.04859295307498625),
 (375, 0.058025885318565944),
 (376, 0.06917144638660747),
 (377, 0.0),
 (378, 0.0),
 (379, 0.06704852344015112),
 (380, 0.04351941398892446),
 (381, 0.11396057645963795),
 (382, 0.0),
 (383, 0.06659271582120269),
 (384, 0.03892494720807614),
 (385, 0.0),
 (386, 0.03504998186163908),
 (387, 0.03553345272593507),
 (388, 0.0),
 (389, 0.08528028654224418),
 (390, 0.04181210050035454),
 (391, 0.02752409412815901),
 (392, 0.04264014327112209),
 (393, 0.0),
 (394, 0.037113480951260276),
 (395, 0.0),
 (396, 0.07312724241271305),
 (397, 0.0),
 (398, 0.0),
 (399, 0.036037498507822355),
 (400, 0.12792042981336627),
 (401, 0.0),
 (402, 0.12087344460380703),
 (403, 0.12060453783110543),
 (404, 0.04545454545454545),
 (405, 0.08362420100070908),
 (406, 0.02956561979945413),
 (407, 0.030151134457776358),
 (408, 0.04891159880445184),
 (409, 0.0),
 (410, 0.1011299793694863),
 (411, 0.07106690545187014),
 (412, 0.12439408271422457),
 (413, 0.10969086361906957),
 (414, 0.039590379123244784),
 (415, 0.055512738165336896),
 (416, 0.041030496993110906),
 (417, 0.050251890762960605),
 (418, 0.0),
 (419, 0.1011299793694863),
 (420, 0.1554926033927807),
 (421, 0.037113480951260276),
 (422, 0.11396057645963795),
 (423, 0.030772872744833184),
 (424, 0.058025885318565944),
 (425, 0.07207499701564471),
 (426, 0.07435223956449145),
 (427, 0.03829197905337418),
 (428, 0.08058229640253801),
 (429, 0.0),
 (430, 0.041030496993110906),
 (431, 0.04264014327112209),
 (432, 0.0674199862463242),
 (433, 0.04545454545454545),
 (434, 0.0),
 (435, 0.05170876899950191),
 (436, 0.0),
 (437, 0.03768891807222045),
 (438, 0.0657951694959769),
 (439, 0.0),
 (440, 0.0),
 (441, 0.08058229640253801),
 (442, 0.07106690545187014),
 (443, 0.0574959574576069),
 (444, 0.0),
 (445, 0.06917144638660747),
 (446, 0.03656362120635653),
 (447, 0.09329556203566843),
 (448, 0.0),
 (449, 0.1778216897897548),
 (450, 0.028490144114909487),
 (451, 0.03892494720807614),
 (452, 0.04652421051992354),
 (453, 0.036037498507822355),
 (454, 0.07784989441615228),
 (455, 0.11677484162422842),
 (456, 0.062197041357112286),
 (457, 0.07312724241271305),
 (458, 0.02956561979945413),
 (459, 0.053300179088902604),
 (460, 0.0),
 (461, 0.11134044285378082),
 (462, 0.021647252975540952),
 (463, 0.0),
 (464, 0.0),
 (465, 0.0),
 (466, 0.14673479641335552),
 (467, 0.15228622596829314),
 (468, 0.03892494720807614),
 (469, 0.054595109043261404),
 (470, 0.03458572319330373),
 (471, 0.05698028822981897),
 (472, 0.1462544848254261),
 (473, 0.1011299793694863),
 (474, 0.0),
 (475, 0.09430419201928972),
 (476, 0.1333662673423161),
 (477, 0.0),
 (478, 0.0895622151039798),
 (479, 0.02530226996846287),
 (480, 0.10241831129983782),
 (481, 0.0),
 (482, 0.0),
 (483, 0.18609684207969415),
 (484, 0.041030496993110906),
 (485, 0.07784989441615228),
 (486, 0.08749572785196141),
 (487, 0.14673479641335552),
 (488, 0.06818181818181818),
 (489, 0.0),
 (490, 0.15075567228888181),
 (491, 0.08703882797784891),
 (492, 0.0674199862463242),
 (493, 0.021214264175324345),
 (494, 0.0),
 (495, 0.19069251784911845),
 (496, 0.0),
 (497, 0.0),
 (498, 0.09304842103984708),
 (499, 0.0),
 (500, 0.03768891807222045),
 (501, 0.0657951694959769),
 (502, 0.0650256088762355),
 (503, 0.07784989441615228),
 (504, 0.0),
 (505, 0.15512630699850571),
 (506, 0.0),
 (507, 0.19507682662870648),
 (508, 0.14414999403128942),
 (509, 0.031098520678556143),
 (510, 0.08058229640253801),
 (511, 0.13957263155977062),
 (512, 0.03892494720807614),
 (513, 0.14213381090374028),
 (514, 0.03289758474798845),
 (515, 0.0),
 (516, 0.0),
 (517, 0.0),
 (518, 0.0597081434026532),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.03413943709994594),
 (523, 0.06659271582120269),
 (524, 0.0),
 (525, 0.07658395810674835),
 (526, 0.050251890762960605),
 (527, 0.0),
 (528, 0.03656362120635653),
 (529, 0.217689644749893),
 (530, 0.03768891807222045),
 (531, 0.062197041357112286),
 (532, 0.0),
 (533, 0.050251890762960605),
 (534, 0.05698028822981897),
 (535, 0.09753841331435326),
 (536, 0.03413943709994594),
 (537, 0.10341753799900381),
 (538, 0.0),
 (539, 0.1778216897897548),
 (540, 0.10241831129983782),
 (541, 0.05598925109558542),
 (542, 0.05248638810814779),
 (543, 0.09430419201928972),
 (544, 0.08058229640253801),
 (545, 0.0337099931231621),
 (546, 0.050251890762960605),
 (547, 0.09782319760890368),
 (548, 0.0),
 (549, 0.07009996372327816),
 (550, 0.0),
 (551, 0.02874797872880345),
 (552, 0.0),
 (553, 0.05170876899950191),
 (554, 0.0),
 (555, 0.021647252975540952),
 (556, 0.03829197905337418),
 (557, 0.06428243465332249),
 (558, 0.0),
 (559, 0.0),
 (560, 0.02445579940222592),
 (561, 0.05170876899950191),
 (562, 0.044455422447438706),
 (563, 0.03251280443811775),
 (564, 0.04891159880445184),
 (565, 0.0564782494724905),
 (566, 0.03413943709994594),
 (567, 0.0),
 (568, 0.17782168978975482),
 (569, 0.06827887419989188),
 (570, 0.11009637651263604),
 (571, 0.032141217326661246),
 (572, 0.12439408271422457),
 (573, 0.0337099931231621),
 (574, 0.030772872744833184),
 (575, 0.030772872744833184),
 (576, 0.07422696190252055),
 (577, 0.17056057308448835),
 (578, 0.02823912473624525),
 (579, 0.05504818825631802),
 (580, 0.03251280443811775),
 (581, 0.15836151649297914),
 (582, 0.1507556722888818),
 (583, 0.05415303610738823),
 (584, 0.11826247919781652),
 (585, 0.036037498507822355),
 (586, 0.06154574548966637),
 (587, 0.14019992744655632),
 (588, 0.03413943709994594),
 (589, 0.1315903389919538),
 (590, 0.04181210050035454),
 (591, 0.062197041357112286),
 (592, 0.032141217326661246),
 (593, 0.0),
 (594, 0.09534625892455922),
 (595, 0.12182898077463451),
 (596, 0.12712834523274563),
 (597, 0.08206099398622181),
 (598, 0.0),
 (599, 0.01922366120271981),
 (600, 0.09045340337332908),
 (601, 0.04519846147055687),
 (602, 0.1348399724926484),
 (603, 0.07658395810674835),
 (604, 0.09304842103984708),
 (605, 0.03329635791060134),
 (606, 0.0),
 (607, 0.08257228238447703),
 (608, 0.0),
 (609, 0.03413943709994594),
 (610, 0.07752753322022198),
 (611, 0.03289758474798845),
 (612, 0.062197041357112286),
 (613, 0.04767312946227961),
 (614, 0.04181210050035454),
 (615, 0.08891084489487741),
 (616, 0.04545454545454545),
 (617, 0.08058229640253801),
 (618, 0.14019992744655632),
 (619, 0.0),
 (620, 0.0),
 (621, 0.04767312946227961),
 (622, 0.02874797872880345),
 (623, 0.0),
 (624, 0.10660035817780521),
 (625, 0.0),
 (626, 0.10050378152592121),
 (627, 0.15512630699850571),
 (628, 0.0),
 (629, 0.03329635791060134),
 (630, 0.0),
 (631, 0.07422696190252055),
 (632, 0.07009996372327816),
 (633, 0.030772872744833184),
 (634, 0.12792042981336627),
 (635, 0.03553345272593507),
 (636, 0.0337099931231621),
 (637, 0.0),
 (638, 0.0),
 (639, 0.0),
 (640, 0.08471737420873575),
 (641, 0.0),
 (642, 0.0),
 (643, 0.07106690545187014),
 (644, 0.07422696190252055),
 (645, 0.07784989441615228),
 (646, 0.07784989441615228),
 (647, 0.0),
 (648, 0.0),
 (649, 0.0),
 (650, 0.07312724241271305),
 (651, 0.0),
 (652, 0.029012942659282972),
 (653, 0.053300179088902604),
 (654, 0.15891043154093204),
 (655, 0.0337099931231621),
 (656, 0.0),
 (657, 0.049236596391733084),
 (658, 0.07009996372327816),
 (659, 0.03656362120635653),
 (660, 0.08891084489487741),
 (661, 0.09137173558097589),
 (662, 0.0),
 (663, 0.0),
 (664, 0.08058229640253801),
 (665, 0.0650256088762355),
 (666, 0.0),
 (667, 0.0),
 (668, 0.1818181818181818),
 (669, 0.0),
 (670, 0.0),
 (671, 0.07009996372327816),
 (672, 0.04767312946227961),
 (673, 0.03143473067309657),
 (674, 0.06154574548966637),
 (675, 0.0650256088762355),
 (676, 0.03413943709994594),
 (677, 0.05170876899950191),
 (678, 0.1531679162134967),
 (679, 0.0),
 (680, 0.03413943709994594),
 (681, 0.0),
 (682, 0.0),
 (683, 0.07009996372327816),
 (684, 0.0),
 (685, 0.04545454545454545),
 (686, 0.04545454545454545),
 (687, 0.07422696190252055),
 (688, 0.0),
 (689, 0.0),
 (690, 0.039590379123244784),
 (691, 0.08362420100070908),
 (692, 0.03458572319330373),
 (693, 0.05170876899950191),
 (694, 0.03504998186163908),
 (695, 0.10660035817780521),
 (696, 0.03329635791060134),
 (697, 0.0),
 (698, 0.06154574548966637),
 (699, 0.05504818825631802),
 (700, 0.04545454545454545),
 (701, 0.0),
 (702, 0.03829197905337418),
 (703, 0.0),
 (704, 0.03768891807222045),
 (705, 0.0),
 (706, 0.030151134457776358),
 (707, 0.0),
 (708, 0.04264014327112209),
 (709, 0.02799462554779271),
 (710, 0.05209322610706232),
 (711, 0.07312724241271305),
 (712, 0.0),
 (713, 0.0),
 (714, 0.0),
 (715, 0.13636363636363635),
 (716, 0.03553345272593507),
 (717, 0.0),
 (718, 0.06356417261637282),
 (719, 0.0),
 (720, 0.04181210050035454),
 (721, 0.04652421051992354),
 (722, 0.0),
 (723, 0.03329635791060134),
 (724, 0.03829197905337418),
 (725, 0.0),
 (726, 0.0),
 (727, 0.04242852835064869),
 (728, 0.10241831129983782),
 (729, 0.06917144638660747),
 (730, 0.041415768328129106),
 (731, 0.0753778361444409),
 (732, 0.09137173558097589),
 (733, 0.02874797872880345),
 (734, 0.09430419201928972),
 (735, 0.09329556203566843),
 (736, 0.04351941398892446),
 (737, 0.04767312946227961),
 (738, 0.0),
 (739, 0.053300179088902604),
 (740, 0.1037571695799112),
 (741, 0.07784989441615228),
 (742, 0.04351941398892446),
 (743, 0.03289758474798845),
 (744, 0.10050378152592121),
 (745, 0.11487593716012254),
 (746, 0.09137173558097589),
 (747, 0.05133270023393453),
 (748, 0.05170876899950191),
 (749, 0.0),
 (750, 0.03458572319330373),
 (751, 0.0),
 (752, 0.062197041357112286),
 (753, 0.039590379123244784),
 (754, 0.07918075824648957),
 (755, 0.08122955416108235),
 (756, 0.0),
 (757, 0.0),
 (758, 0.030772872744833184),
 (759, 0.0),
 (760, 0.0),
 (761, 0.039590379123244784),
 (762, 0.09782319760890368),
 (763, 0.0),
 (764, 0.03829197905337418),
 (765, 0.037113480951260276),
 (766, 0.03829197905337418),
 (767, 0.06917144638660747),
 (768, 0.08703882797784891),
 (769, 0.04351941398892446),
 (770, 0.03289758474798845),
 (771, 0.0),
 (772, 0.0),
 (773, 0.12792042981336627),

In [156]:
sortedList = sorted(list(enumerate(similarity[0])),reverse = True,key = lambda x:x[1]) #sorting need to be done on 2st index not 1th because its 1
sortedList[1:6] #Top 5 similarity to the first movie

[(2997, 0.25854384499750954),
 (4405, 0.24618298195866548),
 (61, 0.23262105259961768),
 (1440, 0.22792115291927587),
 (942, 0.22498852128662875)]

In [157]:
#Recommend 5 movies from given movie
#Step-1 Fetch the index of the given movie
#Step-2 Search in similiarity matrix with the help of index
#Step-3 Sort the values[less[high similarity] to high value[less similarity]] and return top 5

def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse = True,key = lambda x :x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)
    
    
# recommend('Batman Begins')

In [158]:
#To display the movies in selectbox we use pickle library
import pickle

In [159]:
pickle.dump(new_df,open('movies_list.pkl','wb'))

In [160]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [161]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb')) #Rather than the dataframe send the dictionary

In [214]:
# new_df.to_dict()

In [216]:
pickle.dump(similarity,open('similarity.pkl','wb'))